$blue: #0d2e69;
$grey: #404040;

@mixin f100 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
@mixin f400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin f500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
@mixin f700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}